:root {
  --abu: #aaabb3;
  --gray: #1f1d1d;
  --coklat: rgb(69, 50, 43);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow: auto;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.05);
}

.heading span {
  color: var(--coklat);
}

.box {
  position: relative;
}

.box .btn {
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: var(--abu);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); /* Adjust as needed */
}

header .logo {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}

header .logo span {
  color: var(--blue);
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #120f0f;
}

header .navbar a:hover {
  color: var(--abu);
}

header .icons a {
  font-size: 2.5rem;
  color: var(--gray);
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: var(--abu);
}

header #menu {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #c8c5c5;
  background-size: cover;
  background-position: center;
}

.home .isi {
  min-width: 50rem;
}

.home .isi h3 {
  font-size: 6rem;
  color: var(--gray);
}

.home .isi span {
  font-size: 3.5rem;
  color: var(--coklat);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .isi p {
  font-size: 1.5rem;
  color: var(--gray);
  padding: 1rem 0;
  line-height: 1.5;
}

.ninja .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.ninja .box {
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  height: 360px;
  padding-left: 10px;
}

.ninja .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  color: var(--coklat);
  background: rgba(255, 51, 153, 0.05);
  z-index: 1;
  border-radius: 0.5rem;
}

.ninja .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.ninja .box .image img {
  height: 25rem;
}

.tentang .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 3rem 0;
  position: absolute;
  bottom: -100;
  height: 5px;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  .home {
    background-position: left;
  }
}

@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    display: none;
  }

  header #menu:checked ~ .navbar {
    display: block;
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }

  .home .isi h3 {
    font-size: 5rem;
  }

  .home .isi span {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}
